{% extends 'firstapp/base.html' %}
{% block title %}О компании{% endblock title %}
{% block header %}Сведения о компании{% endblock header %}
{% block content %}
    Компания "Интеллектуальные информационные системы".
    Наша компания занимается разработкой приложений,
    основанных на системах компьютерного зрения
    и искусственного интеллекта, кросс-платформенных настольных
    мобильных приложений, а также веб-приложений
    с использованием языка программирования Python.
    Это содержимое блока content. Этот текст находится на
    странице aЬout.html, но он вставлен в базовый
    шаблон - base.html, в блок с именем context.
{% endblock content %}