{% extends 'firstapp/base.html' %}
{% block title %}Главная страница{% endblock title %}
{% block header %} Главная страница сайта - index.html {% endblock header %}
{% block content %}
    <div class="container-fluid my-2 text-start">
        <div class="row">
            <div class="col text-center text-dark">
                <div>{{ my_text }}</div>
                {% if people_kol > 0 %}
                    <h5>
                        Колличество введённых пользователей - {{ people_kol }}
                    </h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
